.menu ul {
    width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: nowrap;
    a {
        color: rgb(255, 255, 255);
        transition: .5s;
    }
    a:hover {
        color: #FFB100;
    }
}