.item {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    //border: 3px solid #FFB100;

    .film-poster {
        overflow: hidden;
        max-height: 258px;

        img {
            width: 100%;
            height: auto;
            transition: .8s;
        }
    }

    .premiere-title {
        background-image:  url("../../../assets/images/premier-background.png") ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 175px;
        position: absolute;
        top: 0;
        color: #fff;
        height: 25px;
        background-color: #ffba00;
        z-index: 1;
        text-align: center;
    }

    .film-title {
        height: 40px;
        font-size: 14px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    &:hover {
        cursor: pointer;
    }

    &:hover img {
        transform: scale(1.1,1.1);
    }

    &:hover  p {
        color: #FFB100;
        text-decoration: underline;
    }
}




