.chair {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #ffba00;
    color: #000000;
    transition: .3s;

    .chair-num {
        transition: .3s;
        opacity: 0;
    }

    &:hover {
        background-color: #ff8800;
        cursor: pointer;
    }

    &:hover .chair-num {
        opacity: 1;
    }
}

.cursor:hover {
    background-color: #ffba00;
    cursor: default;
}