<app-header></app-header>
<section class="descr">
  <div class="descr-container" > 
    <div class="film-name">
      <h2></h2>
    </div>
    <div class="block trailer" (click)="showTrailer()">ТРЕЙЛЕР</div>
    <div class="block tickets">БИЛЕТЫ</div>
    <div class="descr-box">
      <div class="descr-box-up">
        <div class="poster">
            <img src="" alt=''>  
        </div>
        <div class="genre">
          <h3></h3>
          <p><b>Страна, год: </b></p>
          <p><b>Жанр: </b></p>
          <p><b>Режиссёр: </b></p>
          <p><b>В ролях: </b></p>
          <p><b>Продолжительность: </b></p>
        </div>
      </div>
      <div class="descr-box-down">
        <h4>Описание</h4>
          
      </div>
    </div>
  </div>
  <div *ngIf="toggleTrailer" class="video" [innerHtml]="iframe_html">
    {{iframe_html}}
  </div>
</section>