.descr {
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;

    .descr-container {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        margin-bottom: 20px;

        .film-name {
            background: #ffa700;
            font-size: 30px;
            padding: 30px;
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 500px;
            width: 100%;
            text-align: center;
        }

        .block {
            position: absolute;
            top: 80px;
            font-size: 20px;
            text-align: center;
            text-indent: 15px;
            padding: 14px;
            background: #ffa700;
            position: relative;
            max-width: 100px;
            width: 100%; 
            height: 50px;
            box-shadow: 0 0 10px rgba(0,0,0,0.8);
        }
        .block::after {
            content: ''; 
            position: absolute;
            right: -50px; 
            top: 0;
            border-top: 25px solid transparent;
            border-left: 50px solid #ffa700;
            border-bottom: 25px solid transparent;
        }

        .block:hover {
            cursor: pointer;
        }

        .trailer {
            margin-bottom: 20px;
        }

        .descr-box {
            font-size: 17px;
            max-width: 500px;
            width: 100%;
            padding: 20px;
            position: absolute;
            top: 80px;
            right: 50px;
            height: 560px;
            background: rgba(211, 206, 204, 0.7);
            
            .descr-box-up {
                display: flex;
                margin-bottom: 10px;

                h3 {
                    text-align: center;
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                .poster {
                    
                    img {
                        width: 150px;
                        margin-right: 20px;
                    }
                }
                .genre {
            
                    span {
                        color: #ffa700;
                        font-size: 24px;
                        font-weight: 700;
                    }
                }
            }
            .descr-box-down {
                
                h4 {
                    
                    text-align: center;
                }
            }
        }
    }
}

.video {
    width: 100%;
    max-width: 780px;
    margin: auto;
}

.schedule {
    margin-bottom: 20px;

    .line {
        margin-top: 20px;
        width: 100%;
        border-top: 3px solid #ff8800;
    }
}
.item-description {
    p {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .descr {
    
        .descr-container {
    
            .film-name {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .descr {
    
        .descr-container {
    
            .film-name {
                display: none;
            }
    
            .block {
                top: 60px;
            }
    
            .trailer {
                margin-bottom: 20px;
            }
    
            .descr-box {
                font-size: 14px;
                position: relative;
                margin: auto;
                padding: 20px;
                right: 0;
                height: 520px;

                .descr-box-up {
    
                    h3 {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }

                    .poster {
                    
                        img {
                            width: 120px;
                            margin-right: 20px;
                        }
                    }

                    .genre {
                        
                        .cast {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .schedule-filter {
        
        .fas {
            font-size: 22px;
        }

        li {
            padding: 2px 1px;
            
            a {
                font-size: 16px;
                padding: 3px 5px;
                
            }
        }
    }

    .schedule-item {
        font-size: 16px;
    
        .item-image {
            margin-right: 20px;
    
        }
        .item-description {
    
            .item-time {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                width: 65px; 
            }

            .date-period {
                display: none;
            }
        }
    }
}