.item {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 15px;
}
img {
    height: 200px;
}
.item-image {
    margin-right:25px;
}
.item-title {
    margin-bottom: 5px;
}
.item-time {
    margin-top: 10px;
}
ul {
    display:inline-block;
}
li {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    background-color: #ffba00;
    padding: 4px 10px;
    margin-left: 15px;
    outline: 0;
    &:hover {
     background-color: #ff8800;

    }
}

a {
    display: block;
    color:black;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        text-decoration-line: underline;
    }
}
