.item {
    display: flex;
    width: 100%;
    background-color: #e7e4e2;;
    padding: 10px 10px 4px 10px;
    margin-top: 20px;

    .item-image {
        margin-right: 30px;

        img {
            height: 200px;
            outline: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .item-description {

        .item-title {
            margin-bottom: 5px;
            display: block;
            color:black;
            font-weight: bold;
            cursor: pointer;
            
            &:hover {
                text-decoration-line: underline;
             }
        }

        .item-time {
            margin-top: 10px;
            display: inline-block;

            li {
                cursor: pointer;
                display: inline-block;
                transition: 0.5s;
                background-color: #ffba00;
                padding: 4px 10px;
                margin-left: 15px;
                outline: 0;

                &:hover {
                 background-color: #ff8800;
            
                }
            }
        }
    }
}