<div  class="item">
  <div class = "item-image">
    <img src={{item.poster}} [routerLink]="['description', item.id]" alt="">
  </div>
  <div class="item-description">
      <a class="item-title" [routerLink]="['description', item.id]">{{item.name}}</a>
      <span>Жанр: {{item.genre}}</span><br>
      <span>Время:</span>
      <ul  class="item-time" *ngFor="let time of item.sessions; let i = index;">
        <li [routerLink]="'tickets'"
            [queryParams]="{ 
              time: i,
              date: '28.12.2018',
              film: 'avatar'
            }">
            {{time}}
        </li>
      </ul>
  </div>
</div>
