<div  class="schedule-item">
  <div class = "item-image">
    <img src={{item.poster}} [routerLink]="['description', item.id]" alt="">
  </div>
  <div class="item-description">
      <a class="item-title" [routerLink]="['description', item.id]">{{item.name}}</a>
      <span>Жанр: {{item.genre}}</span><br>
      <span>Время:</span>
      <ul  class="item-time" *ngFor="let time of item.sessions; let i = index;">
        <li [routerLink]="'tickets'"
            [queryParams]="{
              id: item.id,
              time: i,
              date: date,
              film: item.name
            }">
            {{time}}
        </li>
      </ul>
      <p class="date-period">{{date | datePipe}}</p><br>
  </div>
</div>
