footer {
    display: flex;
    justify-content: space-around;
    background: rgba(31,24,21,.80);
}
img{
    width: 70px;
    height: auto;
}
span{
    color:wheat;
    padding: 5px;
}
.info {
    padding: 20px 0px;
}