<footer>
  <div class="itsfooter container">
    <div class="logo">
      <img [src]="logoUrl" alt='' >
      <p>SUN CINEMA</p>
    </div> 
    <div class="place">
      <p> г. Харьков</p>
      <p> пр. Науки 17</p>
    </div>
    <div class="phone-mail">
      <a href="tel: +38 095 444 50 16">+38 095 202 02 02</a><br>
      <a href="mailto:info@asotel.com.ua">sun_cinema@gmail.com</a>
    </div>		
    <div class="social">
      <a href="http://vk.com" target="_blank"><i class="fab fa-vk"></i></a>
      <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
