.seat {
    width: 35px;
    height: 35px;
    border: 1px solid #87cefa;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #a0d6f7;  
    color: #000000;
}