<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!statusAuthorization">
    <div class="form-group">
      <label>Login:</label>
      <input  type="text" [(ngModel)]="userInfo.login" formControlName="login" class="form-control" placeholder="Ivan" maxlength="20"/>
    </div>
    <div class="form-group">
      <label>Pass:</label>
      <input type="password" [(ngModel)]="userInfo.pass"  formControlName="pass" class="form-control" placeholder="pass" maxlength="20"/>
      <div class="text_validate">{{formErrorMsg}}</div>
    </div>
    <button type='submit' class="btn" title="Авторизует клиента">Авторизация</button>
    <button (click)="goRegistrPage()" class="btn" title="Перебросит на регистрацию">Регистрация</button>
  </div>
  <div *ngIf="statusAuthorization" class="loginOnline">
    <div>Hellow!</div>
    <div class="LoginUser">{{userInfo.login}}</div>
    <button (click)="ExitUserRoom()" class="btnExit btn" title="Выход из кабинета">Выход</button>
  </div>
</form>
