<header>
  <div class="header container">
    <div class="logo">
      <img [src]="logoUrl" alt='' >
      <p>SUN CINEMA</p>
    </div> 
    <app-nav></app-nav>
    <div class="registr">
      <div *ngIf="search" class="search">
        <input  (input)="onSearchChange($event)" type="text" placeholder="Поиск"/>
        <i class="fas fa-search"></i>
      </div>  
      <div>
        <button (click)="showWindowAuthorization()" class="far fa-user" ></button>
      </div>
    </div>
  </div>
</header>
<app-authorization [ngStyle]="{'display': stateWindowAuthorization}" (closeWindowAuthorization)= "closeWindow()" ></app-authorization>
