@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:after, *:berore {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	background: #e7e4e2;
}
.clearfix:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.wrapper {
	width: 100%;
	max-width: 1020px;
	margin: auto;
}
a {
	text-decoration: none;
}
input {
	outline: none;
}
ul,ol {
	list-style-type: none;
}
h1 {
	font-family: 'Cormorant Infant', serif;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	color: #ffa700;
}
