@import url(./fonts.css);
.headerContent{
  width: 100%;
  min-width: 600px !important;
}
.registerContent{
 background-image: url("../../assets/images/body_bgn.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 600px !important;
}

form{
  margin:0px auto;
  text-align: right;
  width: 600px;
  height: 870px;
  padding-right: 70px;
  padding-top: 335px;
  position: relative;
}
.formContainerImg{
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}
.formContainerGrey{
  z-index: 1;
  width: 600px;
  height: 645px;
  background-color: #e6e4e4c9;
  position: absolute;
  margin-top: -122px;
 }
.form-group{
  z-index: 2;
  position: relative;
}
.form-group>label{
  font-family: Appetite;
  font-size: 23px;
  color: #33823e;
  text-align: right;
  margin-right: 10px;
}
.form-control{
  background: #6699994f;
  border-color:#56676b;
  color: #1713bd;
  height: 35px;
  padding: 6px 12px;
  font-size: 20px;
  border-radius: 4px;
}
.form-group>div>div{
  color:#881212;
  font-size: 18px;
  height: 27px;
  padding: 5px;
}

.btn_form_submit{
  cursor: pointer;
  border: 0px;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  position: relative;
  margin-top: 36px;
  background-color: #629e33;
  font-family: Caveat;
  font-size: 23px;
  color:white;
}
.btn_form_submit:hover{
  background-color:#e63d47;
}
.btn_form_submit>img{
  position: absolute;
  height: 50px;
  width: 50px;
  right: -16px;
  top: -36px;
}
re-captcha{
  width: 308px;
  height: 80px;
  position: absolute;
  left: 50px;
  z-index: 2;
  top: 660px;
}
